* {
    background-color: #e0def4;
}
p {
    color:#505460;
    font-size:14px;
    font-family: 'Bitter', serif;
}


body {
    background-color: #e0def4;
    margin: 0;
    height: 100%;
}


h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color:#505460;
    margin-top: 26px;
}

header {
    display:flex;
    flex-direction: row-reverse;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #56949f;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.indexnav {
    width: 175px;
    height: auto;
}
.topnav {
    list-style:none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    color: #56949f;
    text-decoration: none;
    font-size: 18px;
    padding: 16px 16px;
}

a:hover {
    background-color:#56949f;
    color: #e0def4;
}

a:visited {
    text-decoration: underline;
}

.new_note_button {
    color: #505460;
    background-color: #e0def4;
    font-size: 40px;
    border: none;
}

.main_container {
    margin: auto;
    width: 20%;
    padding-top: 50px;
}

.notes_button {
    color: #505460;
    border: none;
    background-color: #e0def4;
    font-size: 35px;
}

.note_area {
    margin:auto;
    width: 100%;
    display: flex;
    align-items: center;
}

.note_button_div {
    width: 25%;
    float: left;
}

.new_button_note{
    margin-left: 10%;
}

textarea {
    background-color: #e0def4;
    border: none;
    outline: none;
    color: #575279;
    resize: none;
    width: 500px;
}

.side_nav {
    height: 100%;
    width: 240px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    margin-top: 50px;
    background-color: #56949f;
}
.side_nav li {
    color:#56949f;
    font-size: 18px;
    padding: 5px;
    padding-left: 15%;
    text-decoration: none;
    display: block;
    list-style: none;
}

.side_nav h1 {
    padding-left: 25%;
    font-size: 25px;
    font-weight: bold;
    color: #505460;
}
.side_nav .notes_button {
    background-color: #56949f;
    margin-left: 70%;
}

#save_button {
    color: #b4637a;
    border: none;
    background-color: #56949f;
}

#delete_button {
    color: #b4637a;
    border: none;
    background-color: #56949f;
}



@media screen and (max-width:600px) {
    h1, p , a {
        font-size: 14px;
    }

    .main_container {
        display: flex;
        justify-content: center;
        padding-left: 100px;
    }

    .main_container h1 {
        margin: 20px 20px;
    }

    .indexnav {
        width: 50%;
    }

    .buttons_for_notes {
        font-size: 14px;
    }

    .side_nav {
        width: 20%;
        margin-top: 50px;
    }

    .side_nav li {
        padding-left: 5px;
        font-size: 14px;
    }

    .side_nav h1 {
        padding-left: 10%;
        font-size: 14px;
    }

    ul {
        padding-left: 0;
        width: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    ::placeholder {
        font-size: 14px;
    }

    .side_nav {
        font-size: 16px;
        margin-left: 0px;
    }
    
    .notes_buttons {
        font-size: 16px;
        margin-left: 0px;
    }
    
    textarea {
        width: 200px;
    }


}